@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&display=swap');


/* ======Footer CSS======== */
.footer {
  background-color: rgb(255, 255, 255);
  color: #A06701;
  font-family: 'Roboto Condensed', sans-serif;
  border-top: 1px solid #eee;
}

.footer .link {
  text-decoration: none;
  color: #e69300;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
}

.footer .link:hover {
  color: #F15922;
}

.social .Reviews {
  text-decoration: none;
  font-size: 1.5rem;
  color: #ffffff;
}

.social .Reviews:hover {
  font-size: 1.55rem;
  color: #e69300;
}

.footercont .footRight .footerlogo {
  width: 150px;
  margin-bottom: 1rem;
}

.footercont .foothead {
  color: #372302;
  margin-bottom: 0;
}

.footercont .alllinks {
  margin-top: 2rem;
}

.footercont .alllinks p {
  margin-bottom: 0;
}

.socialIcons .iconss:hover {
  color: #fc9e07;
  cursor: pointer;
}

@media only screen and (max-width: 1142px) {
  .footer .link {
    font-size: 14px;
  }
}

@media only screen and (max-width: 993px) {
  .footer .link {
    font-size: 12px;
  }

}

@media only screen and (max-width: 770px) {
  .footer .link {
    font-size: 15px;
  }
}