.Testimonial {
    padding-top: 9.5rem;
}

.Testimonial h1 {
    margin-bottom: 2rem;
    color: #000000;
    font-weight: 600;
}

.Testimonial .testimonialItems .card {
    border: none;
    margin-bottom: 3rem;
}