.latestPost {
    padding: 6rem 0 5rem 0;
    
}

.latestPost h1 {
    font-size: 3rem;
    margin: 3rem 0 1.5rem 0;
    font-weight: 600;
    width: 100%;
    text-shadow: 0 2px 3px rgba(0, 0, 0, .2), 0 4px 7px rgba(0, 0, 0, .2), 0 9px 12px rgba(0, 0, 0, .2);
}

.latestPost .carousel .carousel-item img {
    max-height: 400px;
    width: 100%;
    display: block;
    margin: 0 auto;
}

/* .latestPost .carousel .carousel-item {
    position: relative;
}

.latestPost .carousel .carousel-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgb(0, 0, 0, 0.8), transparent, rgba(0, 0, 0, 0.8));
} */

/* .latestPost .carousel .carousel-caption {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
} */