.latestPost {
    padding-top: 9rem;
}

.latestPost .carousel .carousel-caption h1 {
    font-size: 3rem;
    position: relative;
    top: -12%;
    font-weight: 600;
    background-color: black;
    width: 100%;
    text-shadow: 0 2px 3px rgba(0, 0, 0, .5), 0 4px 7px rgba(0, 0, 0, .5), 0 9px 12px rgba(0, 0, 0, .5);
}

.carousel .carousel-item img {
    height: 600px;
    width: 100%;
    background-position: center;
    background-size: cover;
}