@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.8);
  transition: background-color 0.3s ease;
  position: fixed;
  z-index: 2000;
  left: 0;
  width: 100%;
  padding: 0 1rem;
}

.navbar .logo {
  height: 100px;
  width: 120px;
  margin-bottom: 0.3rem;
}

.navbar-nav {
  margin-left: 2.5rem;
}

.loginImg {
  width: 30px;
  height: 30px;
}

.loginMenu {
  background-color: rgb(255, 255, 255);
  text-align: left;
  padding: 1rem 2rem 1rem 0;
}

.loginMenu .item {
  color: #A06701;
  text-decoration: none;
  font-size: 18px;
  padding: 1rem 0;
}

.navbar-brand {
  padding: 0;
  padding-left: 1.5rem;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler .menu-icon {
  font-size: 2rem;
  color: #e69300;
}

.navbar .nav-item {
  padding: 0;
}

.navbar .nav-item:hover {
  border-bottom: 2px solid #A06701;
}

.navbar .nav-item .nav-link {
  color: #A06701;
  font-size: 18px;
  font-weight: 600;
  padding: 1.2rem;
  letter-spacing: normal;
  font-family: 'Roboto', sans-serif;
}

.navbar li {
  position: relative;
}

.navbar .nav-item .nav-link:hover {
  color: #e69300;
}

.dropdown .item {
  padding: 1rem 0;
  color: #A06701;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
}

.dropdown .item:hover {
  color: #e69300;
}

.rightContent {
  padding-right: 1rem;
  display: flex;
}

.rightContent li {
  list-style: none;
  padding: 0 0.5rem 0rem 1rem;

}

#submenu li {
  list-style: none;
  margin: 0.5rem 0;
}

#submenu {
  padding: 1rem;
  background-color: rgb(246, 246, 246);
  width: 220px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 30px;
  visibility: hidden;
  z-index: 1;
  border-radius: 5px;
}

li:hover ul#submenu {
  opacity: 1;
  top: 80px;
  visibility: visible;
}

.rightContent .icon {
  font-size: 25px;
  color: #A06701;

}

.search-field input {
  margin-bottom: 1rem;
}

.rightContent .icon:hover {
  color: #e69300;
}


.navbar .search-field {
  display: flex;
  align-items: center;
}

.search-field input:focus {
  border: none;
}

.navbar-scrolled {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(255, 255, 255, 0.8);
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-scrolled .container-fluid {
  padding: 0 1rem 0 1rem;
}

/* ======Footer CSS======== */
.footer {
  background-color: rgb(255, 255, 255);
  color: #A06701;
  font-family: 'Roboto Condensed', sans-serif;
}

.footer .link {
  text-decoration: none;
  color: #e69300;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
}

.footer .link:hover {
  color: #F15922;
}

.social .Reviews {
  text-decoration: none;
  font-size: 1.5rem;
  color: #ffffff;
}

.social .Reviews:hover {
  font-size: 1.55rem;
  color: #e69300;
}

.footercont .dateImg {
  width: 150px;
  margin-bottom: 1rem;
}


.footercont .foothead {
  color: #372302;
  margin-bottom: 0;
}

.footercont .alllinks {
  margin-top: 2rem;
}

.footercont .alllinks p {
  margin-bottom: 0;
}

.socialIcons .iconss:hover {
  color: #fc9e07;
  cursor: pointer;
}

@media only screen and (max-width: 360px) {
  .contleft .contheading {
    font-size: 1.6rem;
    font-weight: 800;
  }
}

@media only screen and (max-width: 1219px) {
  .navbar-nav {
    margin-left: 0.5rem;
  }

  .navbar-brand img {
    width: 200px;
  }

  .navbar {
    padding: 1rem 0 0 0;
  }

  .banner .typing {
    font-size: 2rem;
  }


  .navbar-brand {
    padding: 0;
    padding-left: 0;
  }

  .rightContent {
    padding-right: 0.3rem;
  }
}

@media only screen and (max-width: 1142px) {
  .navbar-brand img {
    width: 150px;
  }

  .rightContent {
    padding-right: 0.4rem;
  }

  .navbar .nav-item .nav-link {
    font-size: 15px;
  }

  .footer .link {
    font-size: 14px;
  }
}

@media only screen and (max-width: 993px) {
  .navbar-brand img {
    padding-top: 1rem;
    width: 190px;
  }

  .navbar .nav-item .nav-link {
    font-size: 18px;
    padding: 1rem;
    padding-bottom: 0.5rem;
  }

  .navbar {
    padding: 1rem !important;
  }

  .navbar-brand {
    padding-left: 1rem !important;
  }

  .content .image {
    width: 250px;
    height: 250px;
    margin-bottom: 1rem;
  }

  .social .SLinks {
    margin-bottom: 1rem;
  }

  .rightContent {
    padding-bottom: 2rem;
  }

  .footer .link {
    font-size: 12px;
  }

}

@media only screen and (max-width: 770px) {
  .footer .link {
    font-size: 15px;
  }
}

@media only screen and (max-width: 484px) {
  .heading h1 {
    font-size: 2.3rem;
  }

  .heading {
    padding: 1rem;
  }

  .navbar {
    padding: 0 !important;
  }

}

@media only screen and (max-width: 373px) {
  .navbar-brand img {
    width: 150px;
  }

  .heading h1 {
    font-size: 1.8rem;
  }

  .heading {
    padding: 0.5rem;
  }

  .navbar-toggler .menu-icon {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 300px) {

  .search-field input {
    width: 150px;
    margin-bottom: 1rem;
  }
}

@keyframes slidUp {
  0% {
    transform: translateY(60px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes slidIn {
  0% {
    transform: translateX(60px);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}