.ProductDetail {
    padding-top: 9rem;
}

.productImg {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.Detail {
    padding: 1.5rem 0.5rem;
}

.Detail h3 {
    font-weight: 600;
    color: #A06701;
    font-size: 1.25rem;
}

.pagelink {
    text-decoration: none;
    font-weight: 600;
    color: #A06701;
    font-size: 1.25rem;
    padding: 0.4rem;
}

.productContent {
    text-align: center;
}

.productContent h1 {
    font-weight: 600;
    margin: 2.5rem 0;
}

.relatedPost {
    padding: 3rem 2rem;
}

.relatedPost h1 {
    font-weight: 600;
}

.relatedPost .card {
    border: none;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.relatedPost .card img {
    width: 240px;
}

.relatedPost .card .card-title {
    font-weight: 600;
    font-size: 22px;
}

.productContent .para {
    width: 78%;
    margin-bottom: 1.5rem;
}